USE [master]
GO
/****** Object:  Database [PRJ301_Afternoon_B5_Summer2022]    Script Date: 17/08/2022 4:25:47 CH ******/
CREATE DATABASE [PRJ301_Afternoon_B5_Summer2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_Afternoon_B5_Summer2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_Afternoon_B5_Summer2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_Afternoon_B5_Summer2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_Afternoon_B5_Summer2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_Afternoon_B5_Summer2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_Afternoon_B5_Summer2022]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account Group]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account Group](
	[gid] [int] NOT NULL,
	[username] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [nvarchar](150) NOT NULL,
	[ename] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Festival]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Festival](
	[fid] [nvarchar](150) NOT NULL,
	[from] [date] NOT NULL,
	[to] [date] NOT NULL,
	[f_name] [nvarchar](150) NOT NULL,
	[eid] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Festival] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FesWorking]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FesWorking](
	[fid] [nvarchar](150) NOT NULL,
	[eid] [nvarchar](150) NOT NULL,
	[bonus] [real] NOT NULL,
 CONSTRAINT [PK_FesWorking] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[gid] [int] NOT NULL,
	[name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[mid] [int] NOT NULL,
	[content] [varchar](50) NOT NULL,
	[sender] [varchar](50) NOT NULL,
	[receiver] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Onleave]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Onleave](
	[lid] [nvarchar](150) NOT NULL,
	[eid] [nvarchar](150) NOT NULL,
	[from] [date] NOT NULL,
	[to] [date] NOT NULL,
	[rs_id] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Onleave] PRIMARY KEY CLUSTERED 
(
	[lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reason]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[rs_id] [nvarchar](150) NOT NULL,
	[rs_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Reason] PRIMARY KEY CLUSTERED 
(
	[rs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[eid] [nvarchar](150) NOT NULL,
	[checkin] [datetime] NOT NULL,
	[checkout] [datetime] NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Working]    Script Date: 17/08/2022 4:25:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Working](
	[wid] [nvarchar](150) NOT NULL,
	[eid] [nvarchar](150) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Working] PRIMARY KEY CLUSTERED 
(
	[wid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Festival]  WITH CHECK ADD  CONSTRAINT [FK_Festival_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Festival] CHECK CONSTRAINT [FK_Festival_Employee]
GO
ALTER TABLE [dbo].[Festival]  WITH CHECK ADD  CONSTRAINT [FK_Festival_FesWorking] FOREIGN KEY([fid])
REFERENCES [dbo].[FesWorking] ([fid])
GO
ALTER TABLE [dbo].[Festival] CHECK CONSTRAINT [FK_Festival_FesWorking]
GO
ALTER TABLE [dbo].[Festival]  WITH CHECK ADD  CONSTRAINT [FK_Festival_Reason] FOREIGN KEY([f_name])
REFERENCES [dbo].[Reason] ([rs_id])
GO
ALTER TABLE [dbo].[Festival] CHECK CONSTRAINT [FK_Festival_Reason]
GO
ALTER TABLE [dbo].[FesWorking]  WITH CHECK ADD  CONSTRAINT [FK_FesWorking_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[FesWorking] CHECK CONSTRAINT [FK_FesWorking_Employee]
GO
ALTER TABLE [dbo].[Onleave]  WITH CHECK ADD  CONSTRAINT [FK_Onleave_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Onleave] CHECK CONSTRAINT [FK_Onleave_Employee]
GO
ALTER TABLE [dbo].[Onleave]  WITH CHECK ADD  CONSTRAINT [FK_Onleave_Reason] FOREIGN KEY([rs_id])
REFERENCES [dbo].[Reason] ([rs_id])
GO
ALTER TABLE [dbo].[Onleave] CHECK CONSTRAINT [FK_Onleave_Reason]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Employee]
GO
ALTER TABLE [dbo].[Working]  WITH CHECK ADD  CONSTRAINT [FK_Working_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Working] CHECK CONSTRAINT [FK_Working_Employee]
GO
USE [master]
GO
